<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Wecreate - {% block title %}{% endblock %}</title>
	 <!-- Bootstrap core CSS -->

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet ">

    <!-- Custom fonts for this template 
    <link href="{%static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    -->
    <!-- Plugin CSS -->
    <link href=" {%static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{%static 'css/creative.min.css' %}" rel="stylesheet">

</head>
<body id="page-top">
<!-- begin Navigation -->
<div class="dro">
  
</div>
 <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/admin/">Admin Site</a>
        <a class="p-2 text-dark" href="/inventory/">Go to Website</a>
        <a class="p-2 text-dark" href="#">Add Inventory</a>
        <a class="p-2 text-dark" href="/inventory/staff/">Search Employer</a>
        <a class="p-2 text-dark" href="/inventory/employer/">Employer List</a>
        <a class="p-2 text-dark" href="/inventory/produto/">Inventory List</a>
      </nav>
      <a class="btn btn-outline-primary" href="/inventory/logout/">Logout</a>
  </div>

<!--end Navigation -->
{% block body %}
            <h1>Base</h1>
{% endblock %}
</body>
<footer class="footer" align="center">
        <p align="center">&copy; Developled by Januario Costa 2018</p>
</footer>
</html>